<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация в Feed Migrator</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
    <div class="panel">
        <img src="/images/logo.jpg"
             alt="ok logo"/>
    </div>
    <div class="main">
        <p th:text="${code}" id="code"></p>
        <button id="copyButton">Скопировать код</button>
    </div>
    <footer class="copyright">©2023 All rights reserved.</footer>
</body>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>
